# pymysql

- 파이썬에서 mysql을 컨트롤할수 있도록 도와주는 라이브러리
- 파이썬 내부의 데이터를 디비에 적재하도록 도와줌
- 디비내부의 자료를 파이썬으로 끌어오도록 도와줌
- 자료 적재, 수정, 삭제 명령은 수행한 다음 commit()명령까지 수행해야 반영됨

In [1]:
import pymysql
import pandas as pd

In [2]:
# con 변수에 접속정보 저장, con.cursor()을 받은 cur변수를 매개로 
# db에 파이썬 코드를 이용한 명령을 내릴 수 있다.
con = pymysql.connect(host='localhost', port=3306, user='py', password='py',
                     db='py_practice', charset='utf8mb4')
cur = con.cursor()

In [3]:
# cur.exexute() 내부에 ;를 제외한 쿼리문을 작성하면 연결한 DB에 명령이 그대로 들어간다.
cur.execute('SELECT * FROM memberlist')

10

In [4]:
# cur.fetchall() 명령문은 select 구문을 실행한 다음에 사용하며, select 구문의 결과를 받아온다.
# select 구문은 조회구문이기 때문에 결과물이 존재하며
# 이외의 구문은 조회가 아닌 디비에 수정명령을 내리는 구문이기때문에 결과물을 보려고 해도
# 유의미한 결과물이 나오지는 않는다.
result = cur.fetchall()
result

((1, 'a', '우유'),
 (2, 'a', '요구르트'),
 (3, 'a', '도시락'),
 (4, 'a', '과일야채음료'),
 (5, 'a', '치즈'),
 (6, 'a', '오뎅'),
 (7, 'a', '헷반'),
 (8, 'k', '빵'),
 (9, 'k', '김밥'),
 (10, 'k', '요구르트'))

In [5]:
# 얻어온 자료를 리스트로 바꿔야 DataFrame으로 변환 가능
result = list(result)

# 데이터프레임 변환
users=pd.DataFrame(result)

In [6]:
users

    0  1       2
0   1  a      우유
1   2  a    요구르트
2   3  a     도시락
3   4  a  과일야채음료
4   5  a      치즈
5   6  a      오뎅
6   7  a      헷반
7   8  k       빵
8   9  k      김밥
9  10  k    요구르트

In [10]:
cur.execute("SELECT * FROM memberlist where id ='a'")

7

In [11]:
result = cur.fetchall()
# 얻어온 자료를 리스트로 바꿔야 DataFrame으로 변환 가능
result = list(result)

# 데이터프레임 변환
result=pd.DataFrame(result)

In [12]:
result[2]

0        우유
1      요구르트
2       도시락
3    과일야채음료
4        치즈
5        오뎅
6        헷반
Name: 2, dtype: object

In [13]:
list(result[2])

['우유', '요구르트', '도시락', '과일야채음료', '치즈', '오뎅', '헷반']

In [14]:
data ={}

In [15]:
# 유저 데이터 
userdata=['a','k']

In [17]:
for user in userdata:
# cur.execute("select * from relist where id ='"+user+"'")
    cur.execute("select * from memberlist where id ='%s'" % (user))
    result = cur.fetchall()
    result = list(result)
    result = pd.DataFrame(result)
    data[user]=list(result[2])
data

{'a': ['우유', '요구르트', '도시락', '과일야채음료', '치즈', '오뎅', '헷반'],
 'k': ['빵', '김밥', '요구르트']}